
/********NAVBAR************************/
.logotext{
  /* //font-size: 0.5rem; */
  font-family: FiraSans ; 
  color:#b69756 ; 
  text-shadow:3px 3px 0px rgb(243, 243, 158) ;
}

/* .nav-link{
  font-weight: 500;
  color: #091b18 !important;
  text-transform: uppercase;
} */

.nav-link {
  /* font-size: 1.2em; */
  font-family: 'Roboto', sans-serif;
  /* cursor: pointer;
  letter-spacing: .1em; */
  color: black;
  text-transform: uppercase;
   border-bottom: 2px solid transparent; 
}

 .nav-link:hover {
  transform: translateY(-2px);
}
.navbar-nav .nav-link.active {
  color:#ffcc00;
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
  transition: border-bottom .5s ease-in-out;
}



.typed-text{
  font-size: 2rem;
  color: black;
}